*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


#header {
  @include padding(9em, 0, (0, 0, _size(element-margin), 0));
  @include dark(#4686a0);
  background-attachment: fixed, fixed, fixed;
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;

  h1 {
    margin: 0;
  }

  p {
    margin: (_size(element-margin) * 0.5) 0 0 0;
  }

  .actions {
    margin: (_size(element-margin) * 1.25) 0 0 0;
    position: relative;

    &:after {
      background: _palette(dark, border);
      content: "";
      height: 100vh;
      left: 50%;
      position: absolute;
      top: 100%;
      width: 1px;
    }
  }

  .inner {
    @include vendor("transition", ("transform 1.5s ease", "opacity 2s ease"));
    @include vendor("transition-delay", "0.25s");
    @include vendor("transform", "scale(1)");
    opacity: 1;
    position: relative;
    z-index: 1;

    .actions {
      @include vendor("transition", "transform 1.25s ease");
      @include vendor("transition-delay", "1s");
      @include vendor("transform", "translateY(0)");
      opacity: 1;
    }
  }

  &:after {
    @include vendor("transition", "opacity 1s ease");
    background-image: linear-gradient(45deg, _palette(accent3-alt), _palette(accent6-alt));
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

#body{
  min-height: 30vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header-feature{
  background-color: #f4511e;
  color: white;
  width: 100%;
  text-align: center;
  padding: 30px ;
}

.header{
  background-color: #f4511e;
  color: white;
  width: 100%;
  text-align: center;
  height: 170px;
  padding: 30px ;
  margin-top: 20px;
}

.header-title{
  font-size: 50px;
}

.header-text{
  font-size: 20px;
}

.section{
  flex-flow: row wrap;
  width: 90%;
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: center;

}

.section-fullWidth{
  flex-flow: row wrap;
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.section > div {
  padding: 30px;
}

.small-div {
  width: 20%;
}

.big-div {
  width: 80%;
}

.bg-grey{
  background-color:#f6f6f6;
}

.bg-grey-dark{
  background-color: #afafaf;
}

.orange {
  color: #f4511e;
}

.red {
  color: red;
}

.white {
  color: white;
}

.black {
  color: black;
}

.grey-dark{
  color: #393939;
  font-weight: 700px;
}

.grey-lite{
  color: #3c3c3c;
}

.div-title {
  font-size: 30px;
  font-weight: 600;
}

.contact-container  {
  flex-flow: column;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width:100%;

}
.div-title{
  text-align: center;
}


.contact-form{
  display: flex;
  flex-direction: row;
  /*flex-flow: row wrap;*/
  justify-content: space-between;
  width:100%;
}

#sect1{
  width: 100%;
}

#sect2{
  width:100%;
}

.contact-form > div {
  width: 500px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.input-field {
  height: 40px;
  margin: 15px 0;
}

.contact-btn {
  margin-top: 15px;
  height: 40px;
  color: white;
  border: 0;
  background-color: #f4511e;
}

@media only screen and (min-width:320px) and (max-width:725px){
  .contact-form{
    display: flex;
    flex-direction: column;
    /*flex-flow: row wrap;*/
    width:80%;
  }

  .section{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }


  .small-div {
    width: 80%;
  }
}


.gradient {
  background: #466368;
  background: linear-gradient(to right bottom, #648880, #293f50);
}
